header{
    .container-hero{
        .hero{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            .container-logo{
                display: flex;
                svg{
                    margin-top: 15px;
                    height: 30px;
                    width: 30px;
                }
                a{
                    text-decoration: none;
                }
                h1{
                    color: #000;
                    font-size: 3rem;
                    text-transform: uppercase;
                    letter-spacing: -1px;
                    font-family: "Roboto";
                }
            }
            .container-users{
                display: flex; 
                gap: 1rem;  
                align-items: center; 
                gap: 35px;
                svg{
                    &:hover{
                        height: 30px;
                        width: 30px;
                        cursor: pointer;
                    }
                }
            }
           
        }
    }
}
.navbar{
    background-color: #f0e8d5;
    color: #000;
    a{
        &:hover{
            color: #ece4d7;
            background-color: #b59e67;
            border-radius: 5px;
        }
    }
    .nav-item {
        a{
            color: #000;
        }
    }
    .d-flex{ 
        input{
            border: none;
            height: 40px;
            width: 500px;
        }
        button{
            background-color: #8d753e;
            color: #ffffff;
            border: none;
            &:hover{
                background-color: #6d5a2e;
                color: #ffffff;
            }
        }
        svg
        {
            height: 40;
            width: 40;
        }
    }
    
}
 
    

