section{
    h1{
        text-align: center;
    }
    .faq{
        max-width: 100%;
        margin-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid black;
        cursor: pointer;
        .conteiner-preguntas{
            display: flex;
            align-items: center;
            svg{
                height: 30px;
                width: 30px;
                h3{
                    font-size: 20px;
                }
                
            }            
        }
        .answer{
            max-height: 0;
            overflow: hidden;
            p{
                padding-top: 1rem;
                line-height: 2;
                font-size: 17px;
            }
            .activate{
                min-height: 100px;
	            animation: fade 0.2s ease-in-out;
                svg{
                    transform: rotate(90deg);
                    transition: transform .3s ease-in;
                }
            }
        }
    }

    @keyframes fade{
        from{
            opacity: 0;
            transform: translateY(-10px);
        }
        to{
            opacity: 1;
            transform: translateY(0px) ;
        }
    }

    .conteiner{
        background-color: rgba(0, 0, 0, .35);
        width: 800px;
        height: 300px;
        padding: 25px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        z-index: 1;
        position: relative;
        .tabs,
        .primary,
        .secondary{
            padding: 7px 14px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 400;
            transition: .2s ease-in-out;
        }
        .tabs{
            background-color: #ffffff;
            color: black; 
            border: 1px solid #ffffff;
            &:hover{
                color: #ffffff;
                background-color: transparent;
            }
        }
    }
  
}