// pagina principal
@media screen and (max-width: 780px) {
    html {
      font-size: 55%;
    }
  
    .container-logo {
      svg {
        height: 16px;
        width: 16px;
      }
    }
  
    .hero {
      padding: 2rem;
    }
  
    .container-users {
      svg {
        height: 20px;
        width: 20px;
      }
    }

    .navbar{
      .d-flex {
       input{
          border: none;
          height: 30px;
          width: 400px;
        }
        button{
          background-color: #8d753e;
          color: #ffffff;
          border: none;
      }
    }

    }

   .Categorias{
        .category-opcion{ 
            justify-content: center; 
            margin-left: 0; 
            .Category-img{
                align-items: center;
                margin: 10px;
                text-align: center;
                img{
                    height: 80px;
                    width: 80px;
                }
            }
        }
     }
   
  
    .productos1 {
       display: grid;
       margin: 20px;
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       gap: 1rem;
       flex-wrap: wrap;
       margin-left: 20px;
  
      .sombras {
        padding: 20px;
        margin-left: 15px;
        height: 150px;
        width: 150px;
        padding: 20px;
        margin-left: 0;
      }
    }
  
    .caja {
      height: auto;
      width: 150px;
  
      p {
        color: #8d753e;
        font-size: 10px;
        margin: 20px;
        font-family: "Roboto";
      }
  
      h4 {
        font-size: 15px;
        font-family: "Roboto";
      }
  
      .comprar {
        height: 35px;
        width: 150px;
        font-size: 10px;
        margin: 10px;
        margin-left: 50px;
        text-align: center;
        background-color: black;
        color: #ffffff;
        border: none;
      }
    }
      // pagina preguntas frecuentes
      .heading-1{
        text-align: center;
        margin: 10px;
      }
      .faq{
        margin: 20px;
        .conteiner-preguntas {
            h3{
              font-size: 20px;
            }
            svg{
              width: 25px;
              height: 25px; 
            }
          }
      }
 

    // pagina registro
    
        .conteiner{
            margin: 25px;
            padding: 25px;
            align-items: flex-start;
            height: 500px;
            gap: 15px;
                .primary,
                .secondary,
                .tabs{
                    font-size: 15px;
                    padding: 5px 20px;
                }
                .form_slide {
                 left: auto;
               
                .form_conteiner{
                    width: 500px;
                    max-width: 80vw;
                    height: 350px;
                    top: auto;
                    left: auto;
                    right: auto;
                    bottom: 130px;
                    margin-top: 60px;
                    transform: translate(-10% , -100%);
                    .from_box{
                        max-width: 80vw;
                        width: 70%;
                        padding: 0;
                        align-items: stretch;
                        margin-left: 0;
                        padding: 25px;
                        h2{
                            display: none;
                        }
                        form{
                            text-align: left;
                            padding: 25px;
                            width: 100%;
                            align-items: stretch;
                            h3{
                                font-size: 20px;
                        
                        }
                    }
                }
            }
        }
    } 
    // contacto
    .contact{
      display: block !important;

      .contact-sumbit{
        height: 500px !important;
        width: 100%;
        h1{
          margin-top: 10px;
          margin-right: 10px;
          font-size: 25px;
          text-align: center;
        }
       p{
        font-size: 20px;
        width: 100%;
        margin-right: 100px; 
        display: none;
       }
        .input-contac{
          align-items: center;
          margin-top: 10px;
          height: 40px !important;
          width: 300px !important;
          padding: 20px;
          background-color: transparent;
        }
        .submit{ 
            button{
              display: block;
              margin-top: 10px;
              height: 50px !important;
              width: 400px !important;
              background-color: black;
              color: #ffffff;
              border: none;
              border-radius: 10px;
              cursor: pointer;
          }
        }
      }

      .contact-information{ 
        margin-top: 10px;
        height: 200px;
        width: 100% !important;
        border: none;
        background-color: rgb(42, 41, 41);
        color: #ffffff;
        border-radius: 5px;
      }
    }
} 

@media screen and (max-width: 460px){
    html {
      font-size: 42.5%;
    }
  
    .container-logo {
      svg {
        height: 16px;
        width: 16px;
        margin-top: 5px;
      }
    }
  
    .container-users {
      margin-right: 10px;
      svg {
        height: 20px;
        width: 20px;
        margin-bottom: 15px;
      }
    }
    .navbar{
      .d-flex {
       input{
          border: none;
          height: 20px;
          width: 300px;
        }
        button{
          background-color: #8d753e;
          color: #ffffff;
          border: none;
      }
    }

    }

    .Categorias {
        .category-opcion {
          font-size: 10px;
          .Category-img {
            height: 100px;
            width: 100px;
            align-items: center;
            text-align: center;
            img {
              height: 50px;
              width: 50px;

            }
          }
        }
      }
    
    .productos1 {
        display: grid;
        margin: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        flex-wrap: wrap;
        margin-left: 20px;
    
        .sombras {
          padding: 20px;
          margin-left: 15px;
          height: 150px;
          width: 150px;
          margin-left: 0;
        }
        .caja {
            height: auto;
            width: 150px;
        
            h4 {
              font-size: 10px;
            }
        
            .comprar {
              height: 35px;
              width: 100px;
              font-size: 10px;
              margin: 10px;
              margin-left: 75px;
              text-align: center;
              background-color: black;
              color: #ffffff;
              border: none;
            }
          }
      }

      // faq
        .faq{
          margin: 20px;
          .conteiner-preguntas{
            h3{
              font-size: 15px;
          }
          svg{
            width: 15px;
            height: 15px; 
           }
        }
      }

    // pagina registro
      .register{
        width: 100%;
        .conteiner{
            padding: 15px;
            align-items: flex-start;
            height: 400px;
            gap: 10px;
            width: 100%;
            transform: translate(-49%);
        }
        .form_conteiner{
            width: 270px;
            max-width: 80vw;
            height: 350px;
            top: auto;
            left: auto;
            right: auto;
            bottom: 130px;
            margin-top: 60px;
            margin-left: 35px;
            transform: translate( 30px , -200px);
            .from_box{
                max-width: 80vw;
                width: 100px;
                padding: 0;
                align-items: stretch;
                margin-left: 50px; 
                padding: 25px;
                
                h2{
                    display: none;
                }
                form{
                    text-align: left;
                    width: 100%;
                    align-items: stretch;
                    h3{
                        font-size: 20px;
                        width: 100px;
                    }
                    input{
                       width: 150px;
                    }
                }
            }
        }
        .primary,
        .secondary,
        .tabs{
            font-size: 15px;
            padding: 5px 20px;
        }
        .form_slide .form_conteiner{
            left: auto;
        }
        
     } 
    //  contacto
    .contact{
      display: block;
      .contact-sumbit{
        height: 400px !important;
        width: 80%!important;
        h1{
          margin-top: 10px !important;
          font-size: 15px !important;
          text-align: center !important;
        }
          p{
            font-size: 10px;
            width: 100%;
            margin-right: 100px; 
             display: none;
          }
          .input-contac{
            align-items: center;
            margin-top: 10px;
            height: 20px !important;
            width: 150px !important;
            padding: 20px !important;
            background-color: transparent;
        }
        .submit { 
            button{
              display: block;
              margin-top: 10px;
              height: 40px !important;
              width: 150px !important;
              background-color: black;
              color: #ffffff;
              border: none;
              border-radius: 10px;
              cursor: pointer;
            }
          }
      }
      .contact-information{ 
        margin-top: 10px;
        height: 300px;
        width: 100%;
        border: none;
        background-color: rgb(42, 41, 41);
        color: #ffffff;
        border-radius: 5px;
        h3{
          font-size: 25px;
          margin-left: 40px;
        }
        .inf{
          margin-left: 20px;
          margin-top: 50px;
          display: flex;
          gap: 8px;
        }
      }
    }
}

@media screen and (max-width: 360px){
  .register{
    width: 100%;
    .conteiner{
        padding: 15px;
        align-items: flex-start;
        height: 400px;
        gap: 10px;
        width: 100%;
        transform: translate(-53%);
    }
    .form_conteiner{
        width: 270px;
        max-width: 80vw;
        height: 350px;
        top: auto;
        left: auto;
        right: auto;
        bottom: 130px;
        margin-top: 60px;
        margin-left: 35px;
        transform: translate( 10px , -49px);
      }
  
   }
}